<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dad915f3-b1ac-4702-92a5-9f0027fa5fbd/resourceGroups/Orinoco/providers/Microsoft.Web/sites/WebApiTo</ResourceId>
    <ResourceGroup>Orinoco</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapito.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapito.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApiTo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApiTo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UsuariosEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=orinoco.database.windows.net;Initial Catalog=Neptuno;Persist Security Info=True;User ID=Mod_Admin;Password=Al3x0108*;Application Name=EntityFramework" Name="Data Source=orinoco.database.windows.net;Initial Catalog=Neptuno;Persist Security Info=True;User ID=Mod_Admin;Password=Al3x0108*;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JONATHAN-PC\SQLEXPRESS;Initial Catalog=Usuarios;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UsuariosEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.ModelUsers.csdl|res://*/Data.ModelUsers.ssdl|res://*/Data.ModelUsers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JONATHAN-PC\SQLEXPRESS;initial catalog=Usuarios;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NeptunoEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=orinoco.database.windows.net;Initial Catalog=Neptuno;Persist Security Info=True;User ID=Mod_Admin;Password=Al3x0108*;Application Name=EntityFramework" Name="Data Source=orinoco.database.windows.net;Initial Catalog=Neptuno;Persist Security Info=True;User ID=Mod_Admin;Password=Al3x0108*;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=orinoco.database.windows.net;Initial Catalog=Neptuno;Persist Security Info=True;User ID=Mod_Admin;Password=Al3x0108*;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NeptunoEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.Neptuno.csdl|res://*/Data.Neptuno.ssdl|res://*/Data.Neptuno.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=orinoco.database.windows.net;initial catalog=Neptuno;persist security info=True;user id=Mod_Admin;password=Al3x0108*;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NeptunoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Neptuno.csdl|res://*/Data.Neptuno.ssdl|res://*/Data.Neptuno.msl;provider=System.Data.SqlClient;provider connection string="data source=orinoco.database.windows.net;initial catalog=Neptuno;persist security info=True;user id=Mod_Admin;password=Al3x0108*;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UsuariosEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.ModelUsers.csdl|res://*/Data.ModelUsers.ssdl|res://*/Data.ModelUsers.msl;provider=System.Data.SqlClient;provider connection string="data source=orinoco.database.windows.net;initial catalog=Neptuno;persist security info=True;user id=Mod_Admin;password=Al3x0108*;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>